:root {
    /* For Text */
    --PaleViolet-sub-heading-at-the-top-of-the-app-UI: hsl(276, 100%, 81%);
    --ModerateViolet-chat-on-the-left: hsl(276, 55%, 52%);
    --DesaturatedDarkViolet-chat-on-the-right: hsl(271, 15%, 43%);
    --GrayishBlue-placeholder-text: hsl(206, 6%, 79%);
    --VeryDarkDesaturatedViolet-main-heading: hsl(271, 36%, 24%);
    --DarkGrayishViolet-paragraph: hsl(270, 7%, 64%);
    /* Gradients (These two colors are the vibrant 
    background colors you see throughout the design 
    and are applied as a linear gradient:) */
    --LightMagenta: hsl(293, 100%, 63%);
    --LightViolet: hsl(264, 100%, 61%);
    /* Secondary */
    --White: hsl(0, 0%, 100%);
    --LightGrayishViolet-app-background: hsl(270, 20%, 96%);
    --VeryDarkDesaturatedViolet-submit-button-background: hsl(271, 36%, 24%);
    --VeryLightMagenta-radio-button-outline: hsl(289, 100%, 72%);
}

/*Reset*/
* {box-sizing: border-box;margin: 0;}

body {
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--White);
}

/*For Mobile*/
.mobile {
    width: 320px;
    background-color: var(--LightGrayishViolet-app-background);
    border: 1em solid var(--White);
    box-shadow: 20px 20px 70px lightgray;
    border-radius: 3em;
    position: relative;
}

.mobile p {font-size: 0.8em;}

.mobile .header {
    display: flex;
    align-items: center;
    padding: 2em 1em 1em;
    border-radius: 2em 2em 0.4em 0.4em;
    color: var(--White);
    background-image: linear-gradient(to right, var(--LightViolet), var(--LightMagenta));
    box-shadow: 0 0.3em 1.5em lightgray;
}

.mobile .top-white-radius-box {
    width: 150px;
    height: 35px;
    margin-top: -1em;
    border-radius: 1em;
    background-color: var(--White);
    position: absolute;
    left: 25%;
}

.mobile .header img {
    width:30px;
    border-radius:50%;
    border:1px solid white;
    margin: 0 0.5em;
}


/*Author*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}